{% extends "base.html" %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="container"> 
      <!--
      <div class="mb-3">
        <label for="nickname" class="form-label">Nickname</label>
        <input class="form-control" id="nickname" name="nickname">
      </div>
      -->
      <div class="mb-3">
        <label for="message" class="form-label">Tweet</label>
        <input type="text" class="form-control" id="message" name="message">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Share Tweet</button>
  </div>
  </form>
{% endblock  %}